[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

furl = "*"
requests = "*"
blinker = "*"
ujson = "*"
"beautifulsoup4" = "*"
lxml = "*"
click = "*"
colorama = "*"
tqdm = "*"
yaspin = "*"


[dev-packages]

Sphinx = "*"
"flake8" = "*"
pytest = "*"
coverage = "*"
pytest-cov = "*"
"pytest-flake8" = "*"
ptpython = "*"
CProfileV = "*"
"autopep8" = "*"
sphinx-autodoc-typehints = "*"


[requires]

