[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

[dev-packages]

sphinx = "*"
"flake8" = "*"
pytest = "*"
coverage = "*"
pytest-cov = "*"
"pytest-flake8" = "*"
ptpython = "*"
cprofilev = "*"


[requires]
