[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

furl = "*"
requests = "*"
blinker = "*"
ujson = "*"


[dev-packages]

sphinx = "*"
"flake8" = "*"
pytest = "*"
coverage = "*"
pytest-cov = "*"
"pytest-flake8" = "*"
ptpython = "*"
cprofilev = "*"
"autopep8" = "*"
sphinx-autodoc-typehints = "*"


[requires]

